
body {
  text-align: center;
}

#pong {
  background-color: black;
  width: 600px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

#player-padel {
  background-color: #b9e1ff;
}

#ai-padel {
  background-color: #ffb3ba;
  right: 0px;
}

#ball {
  background-color: #ffffb9;
  width: 20px;
  height: 20px;
  left: 460px;
  top: 140px;
  border-radius: 50%;
  position: absolute;
}

.padel {
  height: 100px;
  width: 20px;
  position: absolute;
}

#restart {
  margin-top: 10px;
  background-color: #baffc9;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

#restart:hover {
  background-color: #248639;
  color: white;
}